src/main/mule/mulemunitest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9b646aff-3a82-4da1-88e1-eb9d5faf2332" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulemunitestFlow" doc:id="60d3897a-0afa-41d2-bb0f-45fda185c9b0" >
		<http:listener doc:name="Listener" doc:id="8f73523f-fe79-4527-9217-e9b55ae70695" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="f405855a-419c-4d01-8aea-346ca553934e" />
		<logger level="INFO" doc:name="Logger" doc:id="c59cf60e-4bfc-4f73-a482-406f2517550e" />
	</flow>
</mule>
